._success {
    color: #4caf50;
    line-height: 30px
}
._right {
    float: right
}
._left {
    float: left
}
.option-menu {
    position: absolute;
    margin-top: 4px;
    z-index: 1;
    margin-left: 4px;
}
._hidden {
    display: none;
}
.img-logo {
    width: 30%
}
.img_category {
    width: 100%;
}
.img-cate-edit {
    width: 50%
}
.list_img_pro {
    width: 100px;
    max-height: 200px
}
.invalid {
    color: red;
    font-weight: normal;
}
.header-form-search {
    margin-top: 30px
}
._success {
    color: #4caf50
}
._failed {
    color: red
}
._pointer {
    cursor: pointer 
}
.font11 {
    font-size: 11px;
    font-weight: normal
}
.tr_title {
    background: #caced3;
    color: #000;
    text-transform: uppercase;
}
.modal-dialog {
    width: 80%;
    margin: 30px auto;
}


/*fix landingpage*/
.about-top-content, .about-bottom-content {
    background: #000000
}
.img-template-large img{
    width: 100%;
}
.center-block {
    text-align: center
}
.main-img-template {
    display: block;
    height: 100px;
    overflow: hidden
}
.form-temp {
}

img.img-landingpage-01 {
    width: auto;
    max-height: 100px;
    margin-top:15px;
}
.main-item-02{
    border-right: 1px red solid;
}
.info-25 {
    font-size: 20px
}
.option-menu a i {
    font-size: 16px
}
._fix_position01 {
    position: fixed;
    right: 1px;
    top: 30%
}
.img_template {
    width: 30%;
    border: 1px #cccccc solid;
    margin: 1%;
    border-radius: 1em;
    cursor: pointer
}
.img_template:hover {
    border: 1px red solid;
}
.text_center {
    text-align: center
}
.image-sim {
    width: 100px
}
.icon-des {

    background: #fe5f09;

    color: #ffffff;

    display: block;

    height: 35px;

    line-height: 36px;

    padding-left: 15px;
}
.icon-des a {
    color: #ffffff;line-height: 36px;
}